<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403643543889-ui63hj8tnk31087qcls2n2bfhruuhilg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403643543889-ui63hj8tnk31087qcls2n2bfhruuhilg</string>
	<key>API_KEY</key>
	<string>AIzaSyAW-PEZ1CtIK5Jhxqm4LvsJyxBR0O_sRgc</string>
	<key>GCM_SENDER_ID</key>
	<string>403643543889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kindmap</string>
	<key>PROJECT_ID</key>
	<string>kindmap-999d3</string>
	<key>STORAGE_BUCKET</key>
	<string>kindmap-999d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403643543889:ios:2a38fc3983f185163ae370</string>
</dict>
</plist>